@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.dark-bg {
  background-color: #1F2937;
}

.light-bg {
  background-color: #E5E7EB;
}

.cta-bg {
  background-color: #3882f6;
}

/* ********* HEADER Styles ********* */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 500;
}

ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
}

a {
  color: #E5E7EB;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
}

/* ********* MAIN HEADER Styles ********* */

/* This section's behavior to the page size 
changing is not like the others, correct that */

.page-intro {
  display: flex;
  justify-content: space-between;
  padding: 80px 120px;
  gap: 18px;
}

.pi-header {
  color: #F9FAF8;
  font-size: 48px;
}

.pi-text {
  color: #E5E7EB;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
}

.sign-up-btn {
  border: none;
  border-radius: 5px;
  color: #F9FAF8;
  background-color: #3882f6;
  padding: 8px 24px;
  cursor: pointer;
}

.sign-up-btn:hover {
  color: #3882f6;
  background-color: #F9FAF8;
  transition: background-color 0.15s;
}

.img-placeholder {
  padding: 90px 150px;
  background-color: #62626b;
  color: #E5E7EB;
  display: flex;
  align-items: center;
}

 /* ********* RANDOM INFO Styles ********* */

.random-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.ri-header {
  color: #1F2937;
  font-size: 36px;
}

.img-row {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 40px;
  margin-bottom: 70px;
}

.img-container {
  max-width: 150px;
}

.rand-info-img {
  border: 2px solid #3882f6;
  border-radius: 8px;
  padding: 1em;
  width: 150px;
  height: 150px;
  margin-bottom: 6px;
} 

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1F2937;
  text-align: center;
}

/* ********  QUOTE Styles ******** */

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 250px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-author {
  margin-top: 6px;
  align-self: flex-end;
  font-size: 18px;
  font-weight: 500;
}

/* ******** CALL TO ACTION Styles ******** */

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 32px 100px;
  margin: 64px 0;
  gap: 120px;
}
.cta-text {
  color: #F9FAF8;
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 18px;
}

.cta-subtext {
  color: #F9FAF8;
}

.cta-button {
  border: #F9FAF8 solid 1px;
}

.cta-button:hover {
  color: #3882f6;
  background-color: #F9FAF8;
  transition: background-color 0.15s;
}

/* ******** FOOTER Styles ******** */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 120px;
  color: #F9FAF8;
  gap: 16px;
}

.github-logo {
  height: 25px;
}