@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-header,
.random-info {
  flex: 1;
  border: 1px dotted yellow;
}

html,
body,
.page {
  height: 100%;
}
.page {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}

body {
  font-family: 'Roboto', sans-serif;
}

.dark-bg {
  background-color: #1F2937;
}

.light-bg {
  background-color: #E5E7EB;
}

.cta-bg,
button {
  background-color: #3882f6;
}

/* ********* HEADER Styles ********* */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 500;
  
}

ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
}

a {
  color: #E5E7EB;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
}

/* ********* MAIN HEADER Styles ********* */

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 80px 120px;
  gap: 18px;
}

.left-section {
  max-width: 700px;
}

.left-section h1 {
  color: #F9FAF8;
  font-size: 48px;
}

.left-section p {
  color: #E5E7EB;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
}

.sign-up-btn {
  border: none;
  border-radius: 5px;
  color: #F9FAF8;
  padding: 0.5em 1.75em;
}

.img-placeholder {
  padding: 50px 120px;
  background-color: #62626b;
}

 /* ********* RANDOM INFO Styles ********* */

.random-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.random-info h1 {
  color: #1F2937;
  font-size: 36px;
}

.img-row {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 40px;
  margin-bottom: 70px;
}

.img-container {
  max-width: 150px;
}

.rand-info-img {
  border: 2px solid #3882f6;
  border-radius: 8px;
  padding: 1em;
  width: 150px;
  height: 150px;
  margin-bottom: 6px;
} 

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1F2937;
  text-align: center;
}

/* ******* FOOTER Styles ******* */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 120px;
  color: #F9FAF8;
  gap: 16px;
}

.github-logo {
  height: 25px;
}